<!-- header -->
<%- include ('../partials/header.ejs') %> 
<!-- Main body -->
<%- include ('../partials/nav.ejs') %> 

<!-- NAVBAR -->
<html>
<body>
   
      <!-- MAIN NAVIGATION -->
      <div class="wrapper_home"> 
        <h1>Welcome to the <%= title %> web page</h1>

        <% if(typeof displayName == 'string' && displayName) { %>

        <a href="/book-list/add" class="btn btn-primary" role="button">
          <i class="fas fa-plus-circle"></i> Add Contact</a>
          <% } %>
        <br>
        <br>
        <h2><i class="fa-brands fa-codepen">&nbsp; &nbsp; </i><%= title %></h2>
       <br>
         <h2>Business Contacts List View</h2>
        <br>  
        <p>In this page you can add some Business Contacts, feel free to add, modify or delete the registers.</p>
        <main class="container">
          <div class="row">
              <div class="col-md-offset-3 col-md-6">
                  <br>
                  <table class="table table-bordered table-striped table-hover">
                  <tr>
                      <th class="text-center">Contact Name </th>
                       <th class="text-center">Contact Family Name </th> 
                      <th class="text-center">Contact Number </th>
                      <th class="text-center">Email Address </th>
                     <!--  <th class="text-center">Price </th> -->
                      <% if(typeof displayName == 'string' && displayName) { %>
                      <th class="text-center"></th>
                      <th class="text-center"></th>
                      <% } %>
                  </tr>
                      <!-- repeatable section -->
                      <% for(let count = 0; count < BookList.length; count++) { %>
                        <tr class="table table-bordered table-striped table-hover">
                            <td class="text-center"><%= BookList[count].name %></td>
                           <td class="text-center"><%= BookList[count].author %></td> 
                            <td class="text-center"><%= BookList[count].published %></td>
                            <td class="text-center"><%= BookList[count].description %></td>
                            <!-- <td class="text-center"><%= BookList[count].price %></td> -->
                            <% if(typeof displayName == 'string' && displayName) { %>
                            <br>
                              <td class="text-center">
                              <a href="/book-list/edit/<%= BookList[count]._id %>" class="btn btn-primary btn-sm">
                              <i class="fas fa-pencil alt"></i>Edit</a>
                            </td>
                            <td class="text-center">
                            <a href="/book-list/delete/<%= BookList[count]._id %>" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash alt"></i>Delete</a>
                          </td>
                          
                          </tr>
                          <% } %>
                    <% } %>
                </table>
              </div>
          </div>
      </main>
          
          
        </div>
      </body>
      </html>

<!--  footer -->
<%- include ('../partials/footer.ejs') %> 
    
<!-- All the code expressed here was taken from COMP-229 (Web app dev), 
following the steps of educational videos. Also the book Beginning Node.js, Express & MongoDB Development (2019)
by Greg Lim was consulted.  -->