<html>
<body>
<!-- header -->
<%- include ('partials/header.ejs') %> 
 
<!-- Main body -->
<%- include ('partials/nav.ejs') %> 

<div class="wrapper_home"> 
    <h1>Welcome to the <%= title %> web page</h1>
    <br>
    <br>
    <h2><i class="fa-solid fa-crow"></i> &nbsp; &nbsp; <%= title %></h2>
    <br>
   <br>  
   <h3> YOALTZIN XOLALPA BRISEÑO</h3>
   <br>
  
    <p>Born and raised in Mexico City, got a Business Administration degree at ITESM-CCM(2012). After graduating I
      started a career as SAP CONSULTANT focusing on finances and sales and distribution(2014-2021).
      My Native language is Spanish, but I can communicate in english too.
      Currently studying Computer Engineering Technology at Centennial college.</p>
      <p>Some of my hobbies include:</p>
      <div class="img_yo"> <img src="/Assets/images/YXB.jpg" width="300" style="float: right; margin: -40px 100px 245px 15px"> </div>
      <ul>
        <li>Reading (specially manga)</li>
        <li>Stained Glass </li>
        <li>Spend time with my dog</li>
        <li>Story Telling</li>
      </ul>
      Some of my interest in IT are:
      <ul>
        <li>Data transformation (ETL)</li>
        <li>Big Data</li>
        <li>Data Analytics</li>
      </ul>
    <br>
    <br>
    <h6> If you want to check more in detail my working career, you can find it here:</h6>
    <br>   
    <h5><a href="/Assets/CV_Yoaltzin_english.pdf" download><i class="fa-solid fa-scroll"></i> &nbsp; &nbsp; DOWNLOAD</h5></a>
    <br>
    <br>
    <br>
    
    
    </div>



<!--  footer -->
<%- include ('partials/footer.ejs') %> 
</body>
</html>