<html>
<body>
<!-- header -->
<%- include ('partials/header.ejs') %> 
 
<!-- Main body -->
<%- include ('partials/nav.ejs') %> 

<div class="wrapper_home"> 
    <h1>Welcome to the <%= title %> web page</h1>
    <br>
    <br>
    <h2><i class="fa-regular fa-paper-plane"> &nbsp; &nbsp; </i><%= title %></h2>
   <br>
    
    <p>In case you have any inquiry or question, you can contact me by:
      <br>
      
      <br>
      <table class="default">

        <tr>
      
          <td><i class="fa-brands fa-twitter"></i> &nbsp; &nbsp; twitter: @bott_gl</td>
        </tr>

        <tr>
      
          <td><i class="fa-regular fa-envelope"></i>&nbsp; &nbsp; mail: yoxolalpa@my.centennialcollege.ca</td>
        </tr>

      </table>
    
    <br>
    <p>Or writte down your information and I will contact you as soon as possible:</p>
    <h6> Name* <input type="text" name="name" id="name" required="required"> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspLast Name* <input type="text" name="l_name" id="l_name" required="required"></h6>
<h6> Phone* <input type="text" name="phone" id="phone" required="required"></h6>
<h6> Email <input type="text" name="email" id="email"></h6>
    <p>Or if you prefer, you can write me anything here:
      <br><textarea name="Comments" id="Comments"
      rows="4" cols="60"></textarea></h4></form>
      <br>
      <br>
      <p> Best Regards.</p>
      <input type="submit" value="Submit" >
    </p>
    
      
      <br>
      
      <br>
      <br>
      <br>
                   <br>
    </div>
 


<!--  footer -->
<%- include ('partials/footer.ejs') %> 
</body>
</html>
