<html>
<body>
<!-- header -->
<%- include ('partials/header.ejs') %> 
 
<!-- Main body -->
<%- include ('partials/nav.ejs') %> 

<div class="wrapper_home"> 
    <h1>Welcome to the <%= title %> web page</h1>
    <br>
    <br>
    <h2><i class="fa-brands fa-codepen">&nbsp; &nbsp; </i><%= title %></h2>
   <br>
     <h2>Mission Statement</h2>
    <br>  
    <p>The mission of this Web page is to share the projects and experience that I have gone trough. 
      This website was dessigned specifically for Web Application Developement course. 
      In this website you will be able to navigate from home, to About me, Projects, Contact and Services that are available.
      If you have any comment or inquiry, you can always write me in the "Contact me" page.</p>
      
      <br>
      <p> Best Regards.</p>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
            <br> 
     </div> 
  



<!--  footer -->
<%- include ('partials/footer.ejs') %> 
</body>
</html>








