<html>
<body>
<!-- header -->
<%- include ('partials/header.ejs') %> 
 
<!-- Main body -->
<%- include ('partials/nav.ejs') %> 

<div class="wrapper_home"> 
    <h1>Welcome to the <%= title %> web page</h1>
    <br>
    <br>
    <h2><i class="fa-solid fa-feather">&nbsp; &nbsp; </i><%= title %></h2>
    <br>
    <br>  
    <h4>Phyton</h4>
    <!-- <div class="circle">  --><img src="/Assets/images/twitter1.jpg" width="300" style="float:left" > <!-- </div> -->
    <br>
    <br>
    <p>As a developer, one of my projects include a bot that automatically posts a tweet each 24 hrs on twitter.
      This was done with python, with the Tweepy library. My role is to develope the application and make twitter a tool that I can 
      get valuable data.</p>
      <br>
      <br>  
      <br> 
      <br>  
   <!--    <br> 
      <br>
      <br>  
      <br> 
      <br> 
      <br> -->
      <h4>SAP</h4>
      <!-- <div class="circle"> --><img src="/Assets/images/epayment1.jpg" width="300" style="float:left" > <!-- </div> -->
      <br>
      <br>
      <p>As a SAP consultant I have done some standard customization for finances, also developed some add-ons transactions.
          The most important project has been related to e-document for mexico, covering solutions like e-payment and e-billing.
      </p>
      <br>
      <br>  
      <br> 
      <br>  
      <br> 
      <!-- <br>
      <br>  
      <br> 
      <br> 
      <br> -->
      <h4>HTML</h4>
      <!-- here starts the content -->
     <!--  <div class="circle">  --><img src="/Assets/images/html1.jpg" width="300" style="float:left" ><!--  </div> -->
      <br>
      <br>
      <p>Another projects that I have developed are webpages with basic HTML and CSS. All
      The projects have been school projects. As a developer, I continue to improve my technical skills day by day.
      Currently im working with node js and java.</p>
     
      <br>
      <br>
      <br>
      <br> 
      <!-- <br> 
      <br> 
            <br> -->
    </div>




<!--  footer -->
<%- include ('partials/footer.ejs') %> 
</body>
</html>

<!-- All the code expressed here was taken from COMP-229 (Web app dev), 
following the steps of educational videos. Also the book Beginning Node.js, Express & MongoDB Development (2019)
by Greg Lim was consulted.  -->