<html>
<body>
<!-- header -->
<%- include ('partials/header.ejs') %> 
 
<!-- Main body -->
<%- include ('partials/nav.ejs') %> 

<div class="wrapper_home"> 
    <h1>Welcome to the <%= title %> web page</h1>
    <img src="/Assets/images/pc.jpg" style="float: right; margin: 40px 120px 245px 15px;" width="320" >
    <br>
    <br>
    <h2><i class="fa-regular fa-bookmark">&nbsp; &nbsp; </i><%= title %></h2>
   <br>
    
    <br>  
    <p>The main services offered are:</p>
    <ul>
      <li>Web Developement (HTML, CSS, JS) &nbsp; &nbsp;<i class="fa-solid fa-laptop-code"></i></li>
      <li>Java &nbsp; &nbsp; <i class="fa-solid fa-robot"></i></li>
      <li>Python &nbsp; &nbsp;<i class="fa-solid fa-worm"></i></li>
      <li>SQL &nbsp; &nbsp;<i class="fa-solid fa-database"></i></li>
      <li>SAP FI, SD, ENABLE NOW <i class="fa-solid fa-money-bill-transfer"></i></li>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>




<!--  footer -->
<%- include ('partials/footer.ejs') %> 
</body>
</html>